In [8]:
def swap():
    s = "Ravi Kumar Patel"
    p = s.split()
    o = f"{p[1]} {p[0]} {p[2]}"
    print("Output:", o)
swap()

Output: Kumar Ravi Patel

In [12]:
def max_num():
    nums = [87, 43, 76, 1, 99, 23, 8]
    m = nums[0]
    for n in nums:
        if n > m:
            m = n
    print("Max number:", m)
max_num()

Max number: 99

In [14]:
def char_count():
    s = "google"
    c = {}
    for ch in s:
        if ch in c:
            c[ch] += 1
        else:
            c[ch] = 1
    for ch, cnt in c.items():
        print(f"{ch}={cnt}")
char_count()

g=2
o=2
l=1
e=1

In [18]:
def div_by_7():
    res = [n for n in range(1, 1001) if n % 7 == 0]
    print(res)
div_by_7()

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [20]:
def even_odd():
    lst = [75, 8, 94, 2, 23, 29, 100]
    o = ["even" if n % 2 == 0 else "odd" for n in lst]
    print(o)
even_odd()

['odd', 'even', 'even', 'even', 'odd', 'odd', 'even']

In [22]:
def extract_nums():
    s = 'hello 1 hi 9 . How are 10'
    nums = [int(w) for w in s.split() if w.isdigit()]
    print(nums)
extract_nums()

[1, 9, 10]

In [24]:
def valid_email():
    e = "xyz@gmail.com"
    if "@" in e and "." in e.split("@")[1]:
        print("correct")
    else:
        print("incorrect")
valid_email()

correct

In [26]:
def rm_whitespace():
    s = "Hello World! How are you?"
    print(s.replace(" ", ""))
rm_whitespace()

HelloWorld!Howareyou?

In [28]:
def sum_nums():
    t = sum(range(1, 51))
    print(t)
sum_nums()

1275

In [30]:
def is_alnum():
    s = "abc123"
    print(s.isalnum())
is_alnum()

True